.btnChat {
    display: flex;
    margin-top: 90px;
    float: right;
}

.imsSize {
    width: 400px;
    height: 400px;
}
.styleButtonInfo {

    border-radius: 35;
    background-color: "#21b6ae";
    padding: "18px 36px";
    font-size: "18px";

}