.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button.type3{color:#435a6b;
position: relative;
width:277px;
height:50px;
/* line-height: 60px; */
text-align: center;
cursor: pointer;
font-weight:600;
font-size:17px;
z-index: 1;
}
.button.type3.type3::after,.button.type3.type3::before{
  content:"";
  display:block;
  position:absolute;
  width:20%;
  height:20%;
  z-index: 1;
  border:2px solid;transition:all .6s ease;border-radius:2px
}
.button.type3.type3::after{
  bottom:0;
  z-index: 1;
  right:0;
  border-color:transparent #435a6b #435a6b transparent
}
.button.type3.type3::before{
  top:0;
  z-index: 1;
  left:0;
  border-color:#435a6b transparent transparent #435a6b
}
.button.type3.type3:hover:after,.button.type3.type3:hover:before{
  border-color:#435a6b;
  z-index: 1;
  width:277px;
height:50px;
z-index: 1;
}
