body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-frame{
  margin: 5%;
  padding: 30px;
  width: auto;
  background-image: url('../src/assets/img/panelBeens.png');
  background-size: contain;
  background-repeat: unset;
  background-position: center;
}
.customer-actions{
  background: #AAA;
  padding: 10px;
  margin: 10px;
}
.customer-actions button{
  background:white;
  min-width: 100px;
  height: 30px;
  margin: 5px;
}
.customerts-list{
  padding-top: 1rem;
}
.app-header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: rem;
  position: relative;
  width: auto;
  height: 100px;
  background-color: white;
  border: 1px solid rgba(59, 58,58,0.5);
  border-radius: 20px;
  box-shadow: -10px 5px 10px;
  top: 0;
  transition: top ease 0.5s;
}
.app-header:hover{
  top: -50px;
}
.customers-list-item{
  justify-content: center !important;
  margin: auto;
  display: flex;
}
.customers-list-item .fields{
  width: calc(300px);
  margin: 1px;
  padding: 5px;
  display: inline-block;
  background: #dcdcdc;
}
.footer-text{
  text-align: center;
  margin: auto;
  font-style: italic;
  font-weight: bolder;
  font-size: 1rem;
}
